{% load bootstrap4 %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Our Neighbourhood</title>
    {% endif %}

{% block styles %}
  {% bootstrap_css %}
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Rancho|Sawarabi+Gothic&display=swap" rel="stylesheet">

{% endblock %}
</head>
<body>
  {% include 'navbar.html'%}
  {% block content%}
  {% endblock%}